/target
*keypair.json
node_modules
dist/
.DS_Store

# Solana program dependencies for integration tests
/tests/integration-tests/deps

# Codama generated clients
/clients/rust/src/generated/*
/clients/typescript/src/generated/*

# Local test validator
*test-ledger*
